@import "../theme";

.home {
  &.container {
    margin-top: 2em;
    min-height: 200px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
}

.homeButton {
  margin-bottom: 2em;
  width: 50%;
}

.joinButton {
  background-color: rgb(190, 190, 190);
}

.logoutButton {
  margin-top: 4em;
  background-color: rgb(254, 101, 101);
}

.tooltip-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* Adjust as needed for spacing */
}

.tooltip-container svg {
  margin-right: 0.5rem; /* Adjust as needed for spacing */
  cursor: pointer;
}

.tooltip-container p {
  margin: 0;
}

.rulesButton {
  margin-top: 2em;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(152, 155, 12);
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.info {
  animation: slideInFromLeft 1s ease-out;
}
