.score.user-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: max-content;
  max-width: 100%;
}

.player.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease-in-out;

  &.rank-1 {
    background-color: gold;
    font-size: 1.2em;
    transform: scale(1.1);
  }
  &.rank-2 {
    background-color: silver;
    font-size: 1.15em;
    transform: scale(1.05);
  }
  &.rank-3 {
    background-color: #cd7f32;
    font-size: 1.1em;
    transform: scale(1.03);
  }
  &:not(.rank-1):not(.rank-2):not(.rank-3) {
    background-color: #7679ba;
    font-size: 1em;
    transform: scale(1);
  }

  &:hover {
    transform: scale(1.02);
  }
}

.player.rank {
  margin-right: 1em;
  color: black;
}

.player.username {
  flex-grow: 1;
  color: black;
}

.player.score {
  margin-left: auto;
  color: black;
}

.timer {
  margin-top: 1.5em;
}

.nextButton {
  margin-top: 1em;
  width: 50%;
}

@import "../theme";

.score {
  &.container {
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &.user-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & p,
  h2 {
    margin: 0.5em 0;
  }
}

.player {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  &.name,
  &.username,
  &.id {
    font-weight: 300;
    margin-left: 5px;
    color: $textInputColor;
  }
  &.username {
    font-weight: 500;
    color: $textInputColor;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  color: $textColor;
  text-align: left;
  border-radius: $borderRadius;
  padding: 10px;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 105%;
  margin-left: 5px;
  opacity: 0;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@keyframes winnerAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.player.container.rank-1 {
  animation: winnerAnimation 2s infinite ease-in-out;
}

.score-table-summary {
  width: 100%;
  border-collapse: collapse; // Ensures borders between cells are merged

  th,
  td {
    border: 1px solid #ccc; // Sets a grey border for each cell
    text-align: left;
    padding: 8px; // Adds some padding inside cells for better readability
  }

  th {
    background-color: hsl(
      326,
      5%,
      72%
    ); // Gives a slight grey background to header cells
  }
}
.roundDisplay {
  text-align: center;
}
.revealDescription {
  text-align: center;
}
